<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  	<button id="hide_show">Change Graph Manager</button>

  	<div id="task_container">
  	<h1 class="title_manager">Task Manager</h1>
  		<div style="float: left; margin-top: 20px;">
		  	<input type="checkbox" id="editModeTask">Edit Mode on/off</input></br>
		  	<button id="add_tops_connect">Add Connection</button></br>
		  	<button id="clear_task_paper">Clear</button></br>
		  	<button id="save_to_file_task">Save</button></br>
		  	<button id="load_from_file_task">Load</button><input type="file" id="file_task"/></br>
		  	<button id="test_task">Test</button></br>
	  	</div>
  	</div>
  	<div id="system_container">
  	<h1 class="title_manager">System Manager</h1>
  		 <div style="float: left; margin-top: 20px;">
		  	<input type="checkbox" id="editModeSystem">Edit Mode on/off</input></br>
		  	<button id="add_processors_connect">Add Connection</button></br>
		  	<button id="clear_sys_paper">Clear</button></br>
		  	<button id="save_to_file_sys">Save</button></br>
		  	<button id="load_from_file_sys">Load</button><input type="file" id="file_sys"/></br>
		  	<button id="test_sys">Test</button></br>
	  	</div>
  	</div>
  </body> 
</html>